
  <h1>Happy cooking with Good Recipe</h1>



<div id="root-container">
  <%= image_tag 'https://i.imgur.com/HGB1Ne2.jpg', :alt => "Animated image of chopping vegetables", :class => "root-image" %>

  <div class="container1">
      
        <h3 id='welcome'> welcome to Good Recipe</h3>

        <p class="text-justify"> We’d like to be your online kitchen helper.<br/>  Will you let us?  If so, we’re always here<br/>  for you 24 hours a day seven days per week, <br/> always ready to show and tell you <br/>how to prepare the most delicious soul food <br/> that’ll ever touch your tongue from this day forward.<br/> So go ahead, get comfortable, <br/> sit, and look around the website.<br/>  Just take your time as you look around no need to rush.</p>
        <p class="text-justify">We have all of your favorite recipes right here.<br/>   You’ll also be presently surprised <br/> to see that our recipes contain easy-to-follow cooking instructions. <br/>  Even better, quite a few of our recipes come<br/>  with illustrative photographs of the finished dished <br/>so you can really see what the dish will look like on your table.</p>
      
        </div>
    <a href="/users/sign_up" class="btn btn-default signup">Get Started</a>

</div>
  </div>

